#wrapper_plans {
	padding:0;
	display: table;
	border: 1px solid black;
}
#wrapper_plans #row, #wrapper_plans_order #row {
	margin-bottom:5px;
	vertical-align:top;
	display: table-row;
	border:1px solid #000;
	height:32px;
}
#wrapper_plans_order {
	padding:0;
	display: table;
	padding-top:10px;
	padding-bottom:20px;
	margin-bottom:50px;
	border: 1px solid black;
}
#wrapper_plans #row_price {
	background-color:#FC0;
	vertical-align:middle;
	display: table-row;
}
#wrapper_plans #row_price #item {
	width:200px;
	display: table-cell;
	padding-left:20px;
}
#wrapper_plans #row_price #price {
	width:150px;
	display: table-cell;
	font-weight:bold;
}
#wrapper_plans #row_price #price button {
	width:80px;
	text-align:center;
	background-color:#000;
	font-weight:bold;
	color:#FFF;
}
#wrapper_plans #row_topic {
	margin-left:5px;
	margin-top:5px;
	margin-bottom:10px;
	font-weight:bold;
}
#wrapper_plans #row #item, #wrapper_plans_order #row #item {
	width:200px;
	display: table-cell;
	padding-left:20px;
}
#wrapper_plans #row #pkg, #wrapper_plans_order #row #pkg {
	width:150px;
	display: table-cell;
	font-weight:bold;
}
#wrapper_plans #row #order_form #pkg {
	width:150px;
	display: table-cell;
	font-weight:bold;
}
#wrapper_plans #row #pkg img {
	margin-right:5px;
}
#middle {
	padding: 1em;
	background:yellow;
	display: table-cell;
}