/*1337042464,169775815*/

.connect_comment_widget{margin:0;padding:5px 0;position:relative}
.connect_comment_widget .nub{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/yv/r/agyQHs6yLID.gif);height:6px;width:9px;padding:0;margin:0;line-height:0;position:absolute;z-index:2;top:0;visibility:hidden}
.connect_comment_widget .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yn/r/vAOEfR4cWQM.gif) no-repeat 0 0;height:20px;width:6px;padding:0;margin:0;left:-5px;line-height:0;position:absolute;z-index:2;top:14px}
.connect_comment_widget_rtl .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yK/r/R95msRfVr6a.gif) no-repeat 0 0}
.connect_comment_widget .comment_content{background:white;border-color:#333333 #333333 #283e6c;border-style:solid;border-width:1px 1px 2px;zoom:1}
.connect_comment_widget .connect_comment_widget_text{padding:8px 8px 4px}
.connect_comment_widget .connect_comment_widget_custom_text{color:gray}
.connect_comment_widget .connect_comment_widget_placeholder_input{width:304px;color:gray;line-height:16px;height:20px}
.connect_comment_widget .connect_comment_widget_placeholder_input_region{padding:8px 8px 5px}
.connect_comment_widget .connect_comment_widget_user_pic{display:block;float:left;height:auto;padding:0 5px 0 0;width:50px}
.connect_comment_widget .connect_comment_widget_full_input_textarea{height:50px;width:310px}
.connect_comment_widget .connect_comment_widget_full_input_region{padding:8px 8px 5px}
.connect_comment_widget textarea.connect_comment_widget_disabled{color:gray}
.connect_comment_widget.like_button_dark textarea.connect_comment_widget_disabled{color:#dedede}
.connect_comment_widget div.connect_comment_share_preview{padding-left:55px;padding-top:6px}
.connect_comment_widget div.connect_comment_widget_button_region{padding:8px 8px 5px;text-align:right;background-color:#f2f2f2;border-top:1px solid #bdc7d8}
.connect_comment_widget_checkbox_region div.uiinputlabel{display:inline-block;float:left}
.connect_comment_widget.like_button_dark div.connect_comment_widget_button_region{background-color:#333;border-top:1px solid #666}
.like_button_dark .nub, .like_button_dark .connect_widget_comment_box_upward_nub{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/yL/r/7vbl1usLlV8.gif)}
.like_button_dark .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yB/r/Gvy8rtIdNBK.gif) no-repeat 0 0;left:-4px}
.connect_comment_widget_rtl.like_button_dark .side_nub{background:transparent url(http://static.ak.fbcdn.net/rsrc.php/v1/yp/r/E-2vs4qfO7d.gif) no-repeat 0 0}
.like_button_dark .comment_content{background:#111;border:1px solid #666;border-bottom:2px solid #ccc;color:#ccc}
.like_button_dark .connect_comment_widget_placeholder_input{border:1px solid #505050;background:#505050;color:#fff}
.like_button_dark .connect_comment_widget_full_input_textarea, .like_button_dark .connect_comment_widget_placeholder_input{background-color:#000;border-color:#434343;color:#fff}
.like_button_dark .connect_comment_widget_full_input_textarea{color:#fff}
.like_button_dark a{color:#fff}
.connect_comment_widget .connect_comment_widget_title{font-size:12px;font-weight:bold;margin-top:-2px}
.connect_comment_widget.like_button_dark .connect_comment_widget_title{color:#fff}
.connect_comment_widget .connect_comment_widget_description, .connect_comment_widget .connect_comment_widget_href{font-size:11px;line-height:11px;margin-bottom:6px}
.connect_comment_widget .connect_comment_widget_description{color:#000}
.connect_comment_widget.like_button_dark .connect_comment_widget_description{color:#fff}
.like_button_dark .connect_comment_widget_href{color:gray}
.connect_widget_like_button .liketext{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) -1px -33px no-repeat}
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover{background-color:#eceef5;border-color:#9dacce}
.connect_widget .like_button_like ,
.connect_widget .like_button_like .piece{background-color:#eee;border-color:#ddd;cursor:default}
.connect_widget .like_button_dark .like_button_like ,
.connect_widget .like_button_dark .like_button_like .piece{background-color:#444;border-color:#555;cursor:default}
.connect_widget .like_button_like .corner{background-position:10px -229px}
.connect_widget .like_button_dark .like_button_like .corner{background-position:10px -223px}
.connect_widget .like_button_like .liketext{background-image:none;clear:right;color:#aaa}
.connect_widget .tombstone_cross{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 0 -128px;display:block;float:left;height:12px;margin-right:3px;width:14px;z-index:99}
.connect_widget .tombstone_cross_static{cursor:default}
.like_button_no_like .tombstone_cross{display:none}
.like_button_like .tombstone_cross{display:block}
.connect_widget .like_button_dark .like_button_like .tombstone_cross{background:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png) no-repeat 0 -156px}
.connect_widget .like_button_like .tombstone_cross:hover{background-position:0 -235px;cursor:pointer}
.connect_widget .like_button_like .tombstone_cross_static:hover{background-position:0 -128px;cursor:default}
.connect_widget .like_button_simple .like_button_like .tombstone_cross:hover{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y7/r/ql9vukDCc4R.png);background-position:0 -128px;cursor:auto;height:12px;margin-left:0;margin-right:3px;margin-top:0;width:14px}
.connect_widget .like_button_dark .like_button_like .tombstone_cross:hover{background-position:0 -247px}
.connect_widget .connect_button_container .like_button_like .liketext,
.connect_widget .connect_widget_connect_button .like_button_like .liketext{padding-left:17px}
.connect_widget_comment_box div.connect_widget_comment_box_nub{background:none}
.connect_widget .like_button_dark .like_button_like .liketext{color:#666}
div.connect_widget div.connect_confirmation_cell_like{padding-left:7px}

#bootloader_uzzQH { height: 42px; }