 <form class="well form-search">
	 <fieldset>
		 <legend>Search </legend>
   		What &nbsp;&nbsp;<input id="txtSerachterm" type="text" class="input-xlarge" placeholder="land" onkeyup="doLiveSearch(this.value);">
  		Where &nbsp;&nbsp;<input id="cbCity" type="text" class="input-xlarge" placeholder="Colombo Western, LK">
        <button id="btnSearch" type="button"  class="btn btn-primary">Search</button>
       <label class="checkbox"><input type="checkbox" id="chkLiveSearch" checked=1> Enable Live Search</label>
       <div id="advanced_search" >
    <a href="advanced_search.php">Advanced Search</a>
    </div> 
     </fieldset>
     </form>
    
  <div style="clear:both"></div>  
