<div class="slides_container">
  <div id="presentation_container" class="pc_container">
            <div class="pc_item">
                <div class="desc">
                    <h1>Stay Connected</h1>
                     We lift your business to the stage and build stable business connections. We introduce you new clients from any part of the world so that you can improve your business partnerships. 
                </div>
                <img src="public/img/slide1.jpg" alt="slide1" />
            </div>
            <div class="pc_item">
                <div class="desc">
                    <h1>Promote Your Business</h1>
                     Our ultimate goal is to promote your business. We provide location based advertising services. So you gain more profits and lose nothing. Experience our unique advertising features with affordable listing plans. <a href="listing_plans.php">Advertise>></a>   
                </div>
                <img src="public/img/slide2.jpg" alt="slide2" />
            </div>
            <div class="pc_item">
                <div class="desc">
                    <h1>Maps and Directions</h1>
                    We help your customers easily find your business location. Our friendly map features can find user's geographical location in a more accurate way and find near businesses to them. <a href="maps.php">Find it now</a>   
                </div>
                <img src="public/img/slide3.jpg" alt="slide3" />
            </div>
            <div class="pc_item">
                <div class="desc">
                    <h1>Mobile Apps</h1>
                     Download our app today and live a smooth life. Do it mobile and experience app's amazing location services including maps, geo targeted advertisements and many more. <a href="mobile.php">Download</a>
                </div>
                <img src="public/img/slide4.jpg" alt="slide4" />
            </div>
            <div class="pc_item">
                <div class="desc">
                    <h1>Build Traffic</h1>
                     Get more people to your business with our powerful SEO techniques. We help you to elevate your business. We guide you to list your business higher in popular search engines.  
                </div>
                <img src="public/img/slide5.jpg" alt="slide5" />
            </div>
            
        </div>
        
        <script type="text/javascript">
            presentationCycle.init();
        </script>
        </div>